body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* 1. BANNER */
.banner img {
  width: 100%;
  height: auto;
  display: block;
}

/* 2. NAVBAR */
.navbar {
  background-color: #ffffff;
  padding: 10px;
}

.navbar a {
  color: rgb(0, 0, 0);
  margin-right: 15px;
  text-decoration: none;
}

.navbar a.active {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

/* 3. TITLE */
.title h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 4. CONTAINER */
.container {
  padding-left: 5%;
  padding-right: 5%;
}

/* 5. MAP */
#map {
  height: 700px;
  background-color: #ddd;
}

/* 6. FOOTER */
footer {
  margin-top: 20px;
  padding: 15px;
  background-color: #222;
  color: white;
  text-align: left;
}